@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    background-image: url(../assets/imgs/background-cad.png);
}

.form-container {
    margin: 150px auto;
    width: 100%;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: -80px;
}

.title-page {
    padding: 50px;
}

.title2-page {
    margin-top: 0px;
    padding: 20px;
}

form {
    width: 100%;
}

.organograma_button {
    background-color: #f28c28;
    padding:  7px;
    border-radius: 15px;
    display: flex;
    margin: 25px auto;
}

fieldset {
    border: none;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

fieldset:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.inputs-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    
}

.inputs-label input, select {
    width: 81%;
    padding: 16px 12px 8px 12px;
    margin-bottom: 15px;
    font-size: 13px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    background: none;
    transition: border-color 0.2s;
}


.inputs-label label {
    position: absolute;
    top: -5px; 
    left: 11.5%;
    font-size: 16px;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    border-radius: 5px;
}

.input-label.full-width {
    grid-column: 1 / -1;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(245, 124, 0, 0.2);
}

input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.btn-primary {
    width: 100%;
    padding: 0.8rem;
    background-color: #f28c28;
    color: white;
    font-size: 1.1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #e65100; 
}

.login-link-bottom {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.btn-add {
    background: var(--primary-color);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.75rem;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .colab-container {
    background: #fdfdfd;
    border: 1px solid #eee;
    height: 300px;
    width: 825px;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;

 }

 .colaborador-card {
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 22px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    margin-top: 30px;
    align-items: center;
 }

 .nome-colaborador {
    color: #191919;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nome-colaborador {
    color: #191919;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
}

.card-footer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px; 
}

.cargo-colab {
    margin-left: auto;
    white-space: nowrap;
    color: #888;
    font-size: 0.8em;
    margin: 0;
    flex-shrink: 1; 
}

.atribuir-button {
    margin-top: 20px;
    padding: 8px 45px;
    background-color: #068200;
    color: #ffffff;
}

.departamento-section {
    display: flex;
    flex-direction: column;
}

.departamento-colabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
}

.departamento-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}