@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}   

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main {
    flex: 1;
    width: 100%;
    padding-top: 90px;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 10px 2%;
    position: fixed;
    top: 0;
    background-color:#f4f4f4;
    z-index: 3;
    padding: clamp(0.6rem, 1.8vw, 1rem);
    display: flex;
    align-items: center;
}

header.scrolled {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    transition: border-bottom 0.5s ease; 
  }

#navbar {
    width: 100% ;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    position: absolute;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a, .btn-cad{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
    font-size: 20px;
}

.nav-item:hover {
    border-bottom: solid 1.5px #1d1d1d;
    transition: border-bottom .3s ease;
}

.nav-item .active a {
    color: #1d1d1d;
    border-bottom: solid 3px #f28c28 ;
}

.formas-de-entrada {
    display: flex;
    align-items: center;
}




a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 40vh;
    min-height: calc(60vh - var(--header-height));
    background: linear-gradient(to right, #f27228, #ce3a00);
    display: flex;
    top: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: clamp(1rem, 4vw, 3rem);
    box-sizing: border-box;
    z-index: 1;

}

.hero-content {
    max-width: 1100px;
    width: 95%;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.options {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;                
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    padding: 2rem;
    background-color: #ffffff;
    position: relative; 
}

.options-li {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    list-style: none;
    gap: 80px; 
    padding: 0;
    margin: 0;
  }
  
.option-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 80px 20px;
    box-sizing: border-box;
}
  

.option-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -45px;
    top: 15%;
    height: 80%;
    width: 1px;
    background-color: #c1c1c1;
    opacity: 0.8;
}

.option-item i {
    font-size: 150px;
    color: #f28c28;
}

.option-title {
    margin-top: 60px;        
    font-size: 22px;
    color: #333;
    font-weight: 600;
}

.button-default_02 {
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 100px;
    padding: 10px 50px;
    background: #f28c28;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

.button-default_02:hover {
    background-color: #f27228;
    transform:scale(101%);
}

/*footer*/
footer {
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

#footer-RHFoot {
    background-color: black;
    color: #fff;
    position: relative;
    top: 70 px;

}

.conteudo-footer {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
   
}

.links {
    justify-content: space-between;
    display: flex;;
    margin: 20px;
}

.menu-content, .legal-content {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    font-size: 18px;
    gap: 15px;
}

.outros-trem {
    flex-direction: column;
    width: 300px;
    justify-self: right;
}

.outros-trem img {
    width: 200px;
}

.copyright {
    background-color: #f28c28;
    text-align: center;
    padding: 5px 0;
}


svg {
    margin: 20px auto auto;
    justify-self: right;
    max-width: 40px;
    filter: invert(100%);
}