<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo e o footer</title>
    <!--fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="/src/css/reset.css">

    <!--bibliotecas-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" /><!--fontawesome-->

    <!--JS-->
    <script src="js/all.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</head>
<body>
    <header id="header-landing">
       <nav id="navbar">
        
            <a href="/src/index.html">           
                <img class="logo" src="/src/assets/logos/logo-sozinha.png" alt="logo do projeto">             
            </a>  

            <ul id="nav_list">
                <li class="nav-item active">
                        <a href="#sobre">Vagas</a>
                </li>
                <li class="nav-item">
                        <a href="#vagas">Sobre</a>
                </li>
                <li class="nav-item">
                        <a href="#Contato">Contato</a>
                </li>
                
            </ul>
            
            <div class="formas-de-entrada">  
                <a class="btn-cad" href="/src/cadastro.html">Cadastrar</a>
                
                <a href="/src/login.html">
                    <button class="btn-defaunt">
                        <h3>Entrar</h3>
                    </button>

                </a>
            </div> 

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>

         
            

            

</nav>

<div id="mobile_menu">
    <ul id="mobile_nav_list">
        <li class="nav-item active">
            <a href="#sobre">Sobre</a>
        </li>
        <li class="nav-item">
                <a href="#vagas">Vagas</a>
        </li>
        <li class="nav-item">
                <a href="#Contato">Contato</a>
        </li>
        <li class="nav-item">
                <a href="#AreaRestrita">Área Restrita</a>
        </li>

        <li class="nav-item">
            <a class="btn-cad" href="/src/cadastro.html">Cadastrar</a>
        </li>
        
        <li class="nav-item">
            <a href="/src/login.html">
                <button class="btn-defaunt">
                    <h3>Entrar</h3>
                </button>
            </a>
        </li>
    </ul>
     

</div>
</header>

<header id="header-login">
        <a href="index.html">
            <img class="logo" src="/src/assets/logos/logo-sozinha.png" alt="logo do projeto">
        </a>

        <a  class="volta" href="index.html">Voltar ao Início</a>
</header>





<footer id="RHFoot">
    <div class="conteudo-footer">
        <div class="menu-content">
            <h4 class="title">Menu</h4>
            <a href="">Vagas</a>
            <a href="">Sobre</a>
            <a href="">Contatos</a>
        </div>

        <div class="legal-content">
            <h4 class="title">Legal</h4>
            <a href="">Políticas de Privacidade</a>
            <a href="">Termos de Uso</a>
        </div>
    </div>

    <div class="outros-trem">
        <img src="" alt="">
        <p>Solução completa em gestão de Recursos Humanos, unindo tecnologia e praticidade para valorizar pessoas e impulsionar empresas.
        </p>

        <div class="contatos">
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
    </div>

    <div class="copyright">
        <p>Created and developed by NexaCode. All rights reserved © 2024</p>
    </div>
</footer>


</body>
</html>