

.topics {
    width: 90%;
    box-sizing: border-box;
    margin: 25px auto;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    padding: 2rem;
    background-color: #ffffff; 
}

.topics-title {
    color: #191919;
    display: flex;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 6%;
}

.input-group {
    font-size: 23px;
    display: flex;
    background-color: #e6e6e6;
    padding: 4px 4px 8px 8px;
    border-radius: 26px;
    z-index: 1;
    width: 90%;
    margin: 25px auto;
    gap: 5px;
}

.input-icon {
    display: flex;
    color: #888888;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
}

.input-field {
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
    outline: none;
}

.button-default_02 {
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 6px; 
    margin: 25px auto 0 auto;
    margin-top: 25px;
    padding: 10px 50px;
    background: #f28c28;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-default_02:hover {
    background-color: #f27228;
    transform:scale(101%);
}

.pagination {
    margin: 20px auto;
    width: 20px;
    display: flex;
    gap: 12px;
}
  

.page-number {
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    font-weight: 600;
}

.page-number:hover {
    background-color: #f28c28;
    color: white;
}

.page-number.active {
    background-color: #f28c28;
    color: white;
}