main {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.screen {
    margin-top: 90px;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
}

.hero-section {
    background: linear-gradient(to right, #f09538 20%, #edab62, #e8db87, #e1d3b8);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section h1{
    margin: auto 50px;
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 90px;
    font-weight: 500;
}


.hero-section img {
    width: 570px;
    margin: 45px 50px 10px ;
    object-fit: cover;
}

.dashboard-content {
    background:#f4f4f4;
    margin: 40px;
    padding: 50px;
    display: grid;
    grid-template-columns: 400px auto 400px auto 400px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.item {
    height: auto;
    margin: 45px 60px;
    text-align: center;
}

.item i {
    margin-bottom: 35px;
    font-size: 60px;
}

.item h3 {
    font-size: 36px;
    margin-bottom: 25px;
}

.item button {
    background-color: #F0912F;
    width: 270px;
    margin: 15px;
    padding: 10px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 22px;
    transition: background-color 0.4s ease-in-out;
}

.item button:hover {
    background-color: #db8229;
}

.divisor {
    background-color: #000;
    width: 2.5px;
    height: 155px;
}


@media screen and (max-width: 1200px) {
    .dashboard-content {
        grid-template-columns: auto auto;
        margin: 20px;
        overflow-x: hidden;
    }

    .divisor {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .hero-section {
        margin-top: 40px;
        height: 300px;
        align-items: center;
    }
    
    .hero-section img {
        display: none;
    }

    .dashboard-content {
        grid-template-columns: auto;
        margin: 20px;
        overflow-x: hidden;
    }

    .divisor {
        display: none;
    }

    footer {
        display: none;
    }
}

.screen {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    width: 100%;

}

/*seção de treinamentos*/
.treinamentos-content {
    padding: 20px;
}

.topo-treinamentos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-treinamentos h2 {
    font-size: 36px;
}

.filtros-treinamentos {
    display: flex;
}

.input-search-filter, select {
    display: flex;
    align-items: center;
    padding: 13px 12px;
    margin: 15px auto;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    background: none;
    transition: border-color 0.2s;
}

.input-search-filter input {
    border: none;
    outline: none;
    width: 300px;
    font-size: 16px;
    margin-left: 10px;
}

.filtros {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.filtros select {
    appearance: none;
    width: 200px;
    margin: auto 10px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}