main {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.screen {
  margin-top: 90px;
  display: flex;
  max-width: 100%;
  min-height: 100vh;
}

.hero-section {
  background: linear-gradient(to right, #f09538 20%, #edab62, #e8db87, #e1d3b8);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section h1 {
  margin: auto 50px;
  font-family: "Momo Trust Display", sans-serif;
  font-size: 90px;
  font-weight: 500;
}

.hero-section img {
  width: 570px;
  margin: 45px 50px 10px;
  object-fit: cover;
}

.dashboard-content {
  background: #f4f4f4;
  margin: 40px;
  padding: 50px;
  display: grid;
  grid-template-columns: 400px auto 400px auto 400px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.item {
  height: auto;
  margin: 45px 60px;
  text-align: center;
}

.item i {
  margin-bottom: 35px;
  font-size: 60px;
}

.item h3 {
  font-size: 36px;
  margin-bottom: 25px;
}

.item button {
  background-color: #f0912f;
  width: 270px;
  margin: 15px;
  padding: 10px 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 22px;
  transition: background-color 0.4s ease-in-out;
}

.item button:hover {
  background-color: #db8229;
}

.divisor {
  background-color: #000;
  width: 2.5px;
  height: 155px;
}

footer .menu-content {
    display: none;
}


@media screen and (max-width: 1200px) {
  .dashboard-content {
    grid-template-columns: auto auto;
    margin: 20px;
    overflow-x: hidden;
  }

  .divisor {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .hero-section img {
    display: none;
  }

  .dashboard-content {
    grid-template-columns: auto;
    margin: 20px;
    overflow-x: hidden;
  }

  .divisor {
    display: none;
  }

  footer {
    display: none;
  }
}

.screen {
    display: none;
    width: 100%;

}




