.topics {
    width: 90%;
    box-sizing: border-box;
    margin: 25px auto;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    padding: 2rem;
    background-color: #ffffff; 
}

.topics-title {
    color: #191919;
    display: flex;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 6%;
}

.input-group {
    font-size: 23px;
    display: flex;
    background-color: #e6e6e6;
    padding: 4px 4px 8px 8px;
    border-radius: 26px;
    z-index: 1;
    width: 90%;
    margin: 25px auto;
    gap: 5px;
}

.input-icon {
    display: flex;
    color: #888888;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
}

.input-field {
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
    outline: none;
}


.items-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 25px auto 0 auto;
    list-style: none;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 14px;
    width: 90%;
}

.items {
    display: flex;
    margin-top: 12px;
    background-color: #e6e8d3;
    border-radius: 24px;
    padding: 20px;
    min-height: 250px;
    width: 100%;
}

.item {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 24px;
    padding: 14px;

}

.item-title {
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.item-desc {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
    
}

.button-default_02 {
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 6px; 
    margin: 25px auto 0 auto;
    margin-top: 25px;
    padding: 10px 50px;
    background: #f28c28;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-default_02:hover {
    background-color: #f27228;
    transform:scale(101%);
}

.pagination {
    margin: 20px auto;
    width: 20px;
    display: flex;
    gap: 12px;
}
  

.page-number {
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    font-weight: 600;
}

.page-number:hover {
    background-color: #f28c28;
    color: white;
}

.page-number.active {
    background-color: #f28c28;
    color: white;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 15px;
}

.trash-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-button:hover {
    background-color: #e6e8d3;
    transform:scale(120%);
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-button:hover {
    background-color: #e6e8d3;
    transform:scale(120%);
}

.add-departamento-button {
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    align-items: center;
    justify-self: right;
    padding: 10px 50px;
    background: #f28c28;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-self:  right;
    text-align: center;
    margin-right: 125px;
    margin-top: 50px;
}

.add-departamento-button:hover {
    background-color: #f27228;
    transform:scale(101%);
}