/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.image-section {
  flex: 1;
  background-color: #f5f1e8; /* Cor de fundo da seção da imagem */
  background-image: url("../assets/imgs/mulher-profissional.png"); /* Substitua pela URL da sua imagem */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.form-wrapper {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #f28c28; /* Cor laranja do botão */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #f28c28;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #e8a956;
  text-decoration: none;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none; /* Oculto por padrão */
}

.success-message {
  display: none; /* Começa oculto */
  margin-top: 20px;
  padding: 15px;
  background-color: #a5d6a7; /* Verde claro */
  color: #1b5e20; /* Verde escuro para o texto */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none; /* Oculto por padrão */
}
