
.hero-section {

    background: #e6e8d3;
    width: 100%;
    height: 400px;
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}   

.hero-section img {
    width: 450px; 
    margin-bottom: 0;
    align-self: last baseline;
}

.hero-msg {
    justify-self: right;
    text-align: center;
    margin-right: 10%;
    margin-left: 25px;
    
}

.hero-msg h1 {
    max-width: 500px;
    font-family: "Playwrite US Modern", cursive;
    color: #f28c28;
    margin-bottom: 20px;
}

.hero-msg p {
    font-size: 24px;
    max-width: 450px;
    justify-self: center;
}

.curriculo {
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.curriculo h1 {
    font-family: "Playwrite US Modern", cursive;
    font-weight: 700;
    color: #f28c28;
   
}

.curriculo p {
    font-size: 24px;
    font-weight: 500;
}


.curriculo-img {
    background: #f0912f;
    border-radius: 30px 0px 0px 30px;
    padding: 0 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-height: 450px;
}

.mgs-content {
    margin: 30px;
    max-width: 500px;
}

.curriculo-btn {
    background-color: #f28c28;
    margin-top: 30px;
    padding: 15px 12px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 0.1px 0px rgba(0, 0, 0, 0.5);
}

.curriculo-btn:hover {
    background-color: #e37d23;
}


.sobre {
    padding: 30px 0px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.about {
    justify-self: center;
}

.about span{
    font-weight: 600;
    font-size: 40px;
    font-family: "Playwrite US Modern", cursive;
    text-align: center;
    
}

.laranja {
    font-family: "Playwrite US Modern", cursive;
    color: #f0912f;
}

.sobre-content {
    align-items: center;
    justify-content: space-between;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin: 70px 30px;
}

.txt-aboutus{
    max-width: 500px;
    font-family: "Playtime US Modern", cursive;
    font-size: 34px;

}

.img-aboutus img {
    width: 350px;
    margin: 60px 200px 0px auto;
}

.descricao {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 26px;
    text-align: justify;
}

.caixa-laranja {
    background: #f28c28;
    padding: 40px;
}

.um {
    margin-top: -150px;
    max-width: 40%;
    border-radius: 0px 30px 30px 0px;   
}

.dois {
    max-width: 55%;
    margin-top: 50px;
    border-radius: 30px 0px 0px 30px;
}

html {
  scroll-behavior: smooth;
}
