body {
    background-color: #e6e8d3;
}

a {
    text-decoration: none;
    color: #f28c28;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

#header-login {
    position: absolute;
    display: flex;
    width: 100%;
    max-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 100px;
    margin-top: 5px;
}

.volta {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    
}

.volta:hover{
    border-bottom: 2.5px solid #f28c28;
    transition: 1s transform  ease-in;
}

.formulario-de-entrada {
    display: flex;
    width: 100vh;
    max-width: auto;
    max-height: 520px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

.formulario-de-entrada h1 {
    font-size: 36px;
    margin-bottom: 30px;
}


.inputs-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    
}

.inputs-label input {
    width: 81%;
    padding: 16px 12px 8px 12px;
    margin-bottom: 15px;
    font-size: 13px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    background: none;
    transition: border-color 0.2s;
}


.inputs-label label {
    position: absolute;
    top: -5px; 
    left: 11.5%;
    font-size: 16px;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 80%;
    cursor: pointer;
}

.remember-me a {
    color: black;
}

.remember-me a:hover {
        text-decoration:underline;
}

.remember-me label{
   margin-left: -18%;
}

input[type="checkbox"]{
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 0.125rem solid #f28c28;
    border-radius: 0.25rem;
    margin-right: 10px;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: 0.125s transform ease-in-out;
    box-shadow: inset 1rem 1rem #fff;
}

input[type="checkbox"]:checked {
    background-color: #f28c28;
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"]:disabled {
    opacity: 0.25;
}

input[type="checkbox"]:focus {
    border-color: #f28c28;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

.img {
    flex: 1;
    max-width: 320px;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f28c28;
}

.img img {
    margin: 0px 0px 0 auto;
    width: 320px;
    height: 400px;
    max-height: 450px;

}

#btn-login {
    background-color: #f28c28;
    padding: 15px 100px;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#btn-login:hover {
    background-color: #f27228;
    transform:scale(102%);;
}
