@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');/*Pra fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');/*Momo Trust*/




.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'Roboto', serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}   

body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #fff
}

button {
    font-weight: 600;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

/*inputs e labels geral*/

.inputs-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    
}

.inputs-label input, select, textarea {
    width: 100%;
    padding: 18px 12px 8px 12px;
    margin: 0px 15px 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    background: none;
    transition: border-color 0.2s;
}


.inputs-label label {
    position: absolute;
    top: -5px; 
    left: 32px;
    font-size: 16px;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    border-radius: 5px;
}


header {
    display: flex;
    width: 100%;
    padding: 10px 2%;
    position: fixed;
    top: 0;
    background-color:#f4f4f4;
    z-index: 3;
    box-shadow: 0px 1px 5px 0.6px rgba(0, 0, 0, 0.2);
}

#navbar {
    width: 100% ;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.formas-de-entrada {
    display: flex;
    align-items: center;
}

.btn-defaunt {
    background: #e9943b;
    color: white;
    padding: 8px 22px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.2s ease-in;
}

.btn-defaunt:hover {
    background-color: #f27228;
    transform:scale(101%);
}


/*header de entrada */

#header-entrada {
    position: absolute;
    display: flex;
    width: 100%;
    max-height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    max-width: 100px;
    margin-top: 5px;
}

/*Header da dashboard do interno ou do Colaborador*/
#header-dash-intcolab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}


.dashboard-int-colab {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.navitem {
    margin: 20px;
    position: relative; 
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navitem::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px; 
    width: 100%;
    height: 2px;
    background-color: #e26a1d;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}


.navitem:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.dashboard-int-colab .active {
    background: #e9943b;
    color: white;
    padding: 6px 20px;
    border-radius: 25px;
    font-weight: 600;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 75px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    z-index: 100;
}

.dropdown a {
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background 0.3s;
}

.dropdown a:hover {
    background: #e6e8d3;
}   

.dropdown.show {
    display: flex;
}


.menu-btn {
    display: none;
    font-size: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    cursor: pointer;


}


/*responsividade*/

.menu-btn{ 
    display: none;
}
@media (max-width: 820px) {
    .menu-btn {
        display: block;
    }

    #menu-landing,
    #menu-landing-extra {
        display: none; 
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    #menu-landing.show{ 
        display: flex;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        background: #f4f4f4;
        flex-direction: column;
    }


    #menu-landing-extra.show {
        display: flex;
        width: 100%;
        padding: 25px;
        position: absolute;
        top: 210px;
        left: 0;
        background: #f4f4f4;
        flex-direction: column;
    }

    header .logo {
        max-width: 80px;
    }
}

@media (max-width: 1200px) {
   

   #nav-dash .menu-btn {
        display: block;
    }
    #nav-dash {
        display: none; 
    }

    #nav-dash.show {
        display: flex;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        gap: 12px;
        background: #f4f4f4;
        flex-direction: column;
        font-size: 18px;
    }

    header .logo {
        max-width: 80px;
    }
}




/*footer*/
footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
}

#footer-RHFoot {
    background-color: black;
    color: #fff;

}

.conteudo-footer {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
   
}

.links {
    justify-content: space-between;
    display: flex;;
    margin: 20px;
}

.menu-content, .legal-content {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    font-size: 18px;
    gap: 15px;
}

.outros-trem {
    flex-direction: column;
    width: 300px;
    justify-self: right;
}

.outros-trem img {
    width: 200px;
}

.copyright {
    background-color: #f28c28;
    text-align: center;
    padding: 5px 0;
}


svg {
    margin: 20px auto auto;
    justify-self: right;
    max-width: 40px;
    filter: invert(100%);
}