@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}   

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 10px 2%;
    position: absolute;
    top: 0;
    background-color:#f4f4f4;
    z-index: 3;
}

#navbar {
    width: 100% ;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a, .btn-cad{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
    font-size: 20px;
}

.nav-item:hover {
    border-bottom: solid 1.5px #1d1d1d;
    transition: border-bottom .3s ease;
}

.nav-item .active a {
    color: #1d1d1d;
    border-bottom: solid 3px #f28c28 ;
}

.formas-de-entrada {
    display: flex;
    align-items: center;
}

.btn-cad {
    color: #4285f4;
    text-decoration: none;
    margin-right: 15px;
}

.btn-cad:hover {
    border-bottom: solid 1.5px #4285f4;
}

.btn-defaunt {
    border: none;
    border-radius: 20px;
    display: flex;
    padding: 10px 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #f28c28;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: 20px;
}

.btn-defaunt:hover {
    background-color: #f27228;
    transform:scale(101%);
}


a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}